backend/.env
backend/bin/
backend/obj/
backend/*.exe
backend/*.test

**/node_modules/
**/dist/
**/.env.local
**/.env.*.local

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

pgdata/